<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<!-- 1。导入vue的包 -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<!-- 将来new的Vue的实例，与控制这个元素中的所有内容 -->

	<!-- Vue 实例所控制的这个元素区域，就是我们 MVVM中的V -->
	<div id="app">
		<div>
			<label>
				ID:
				<input type="text" name="" v-model="id">
			</label>
			<label>
				Name:
				<input type="text" name="" v-model="name">
				
			</label>
				<!-- 在vue中 使用事件绑定机制，为元素指定函数的时候，如果加了小括号，就可以给函数传参数 -->
				<input type="button" value="添加" name="" @click="add()">

				<label>	
						搜索名称关键字:
						<input type="text" name="" v-model="keywords">
				</label>
		</div>
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>name</th>
					<th>ctime</th>
					<th>operation</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in list" :key="item.id">
					<td>{{item.id}}</td>

					<td v-text="item.name"></td>

					<td>{{item.ctime}}</td>

					<td>
						<a href="" @click.prevent="del(item.id)">删除</a>
					</td>

				</tr>
			</tbody>
		</table>

	</div>

	<script type="text/javascript">

		//2.创建一个vue的实例
		//当我们导入包之后，在浏览器的内存中，就多了一个vue的构造好事

		//注意：我们new出来的这个vm对象，就是我们nvvm中的vm调度者
		var vm =new Vue({
				el:'#app', //表示，当前我们new的这个vue实例要控制哪个区域

				//这里的data 就是mvvm中的M，钻木用来保存每个页面的数据
				data:{
					keywords:'',
					id:'',
					name:'',
					list:[
					{id:1,name:'奔驰',ctime:new Date()},
					{id:2,name:'宝马',ctime:new Date()},

					]
				},
				methods:{
					add(){
						var car={id:this.id,name:this.name,ctime:new Date()}
						this.list.push(car)
						this.id=this.name=''
					},
					del(id){
						//根据id删除数据
						//如果拿到了id的索引，直接调用数组的splice方法


	//方法一						//some方法 如果里面的表达式是正确就会继续执行
						// this.list.some((item,i)=>{
						// 	if (item.id==id) {
						// 			this.list.splice(i,1)
						// 			//在数组的some方法中，如果retrun true，就会立即终止这个数组的后续循环

						// 			return true;
						// 	}
						// })

	//方法二						//通过数组的finIndex的方法来查找索引 内部也需要传递一个回调函数 返回id对应的对象 然后找到索引,然后根据索引删除
						var index= this.list.findIndex(item=>{
							if (item.id==id) {
								return true
							}
						})
						console.log(index)	
						this.list.splice(index,1)			
					}
				}
			}
			)
	</script>
</body>
</html>